<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="messenger_project.catchmindtalk">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <uses-library

            android:name="org.apache.http.legacy"

            android:required="false" />

        <service android:name=".ChatService"
                android:enabled="true">
        </service>

        <activity android:name=".activity.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.SignUpActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity.MainActivity"
            android:supportsRtl="true"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity android:theme="@android:style/Theme.DeviceDefault.Light.Dialog" android:name=".activity.ProfileChangeActivity"/>
        <activity android:name=".activity.ProfileActivity" android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".activity.EditFriendActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activity.AddFriendActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activity.SearchRoomActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".activity.SearchFriendActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activity.EditChatRoomActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activity.MakeGroupActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activity.ChatRoomActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" >
        </activity>

        <activity android:theme="@android:style/Theme.DeviceDefault.Light.Dialog" android:screenOrientation="portrait" android:name=".activity.ColorPickerActivity"/>
    </application>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
</manifest>
